@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	max-height: 1000px;
	background-color: #3b86ac;
	font-family: "HelveticaNeue-Light", "Noto Sans TC";
}

.card {
	background-color: #ffffff;
	/*width: 500px;
	height: 570px;*/
  	margin: auto;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-box-shadow: 0 0 10px 1px #303030;
    -moz-box-shadow: 0 0 10px 1px #303030;
}

.top {
	color: #ffffff;
	width: 500px;
	height: 400px;
}

.top:before {
	display: block;
	content: '';
	width: 500px;
	height: 400px;
	background: url(../img/banner3.png) no-repeat;
	background-size: auto 400px;
	opacity: 0.7;
}

.profilepicture {
	display: inline-block;
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	margin: auto;
  	position: absolute;
  	top: 40%; 
  	left: 50%;
  	-webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.profilepicture img {
	height: auto;
	width: 100%;
}

.title {
	margin: auto;
  	position: absolute;
  	top: 115px; left: 0; bottom: 0; right: 0;
  	height: 50px;
  	text-align: center;
  	line-height: 30px;
}

.name {
	font-size: 1.9em;
}
.work {
	font-size: 1.3em;
}

.profile {
	height: 170px;
	font-size: 1.5em;
	padding: 10px; 
}

.profile * {
	margin-left: 8%;
	margin-top: 10px;
}